/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vs/VSWorkspaceState.json
.vs/UCPM/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
